@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-bold.ttf');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: bold;
  font-style: italic;

}

.regular {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
}

.bold {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: italic;
}